/* Body styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #292929;
  }
  
  /* Header styles */
  header {
    background-image: url("path/to/header-background.jpg"); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 40px 0;
    text-align: center;
  }
  
  h1 {
    font-size: 2.5em;
    margin: 0;
    padding: 0;
    color: #fff;
    text-shadow: 1px 1px 2px rgb(255, 255, 255); /* Subtle text shadow */
  }
  
  p {
    font-size: 1.2em;
    margin-bottom: 15px;
    color: #606060;
  }
  
  /* Main content styles */
  main {
    padding: 20;
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px; /* Rounded corners for a softer look */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle drop shadow */
  }
  
  section {
    margin-bottom: 50px;
    padding: 30px;
    border-radius: 5px; /* Rounded corners for sections */
    box-shadow: 0 0 0cap rgba(0, 0, 0, 0.1); /* Subtle drop shadow */
  }
  
  h2 {
    font-size: 1.8em;
    margin-bottom: 15px;
    color: #333;
  }
  
  ol {
    padding-left: 25px;
    list-style-type: disc;
    color: #333;
  }
  
  a {
    color: #fff; /* Light text for buttons */
    background-color: #333;
    text-decoration: none;
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.2s ease-in-out;
  }
  
  a:hover {
    background-color: #222;
  }
  
  /* Download buttons styles */
  .download-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }
  
  .download-buttons a {
    width: 48%;
  }
  
  /* Footer styles */
  footer {
    text-align: center;
    padding: 20px 0;
    background-color: #323131;
    color: #6e6666;
  }
  